<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AMP code test</title>
    <link rel="stylesheet" href="build/site.css">
</head>
<body>
    <div ng-app="ampApp" ng-cloak>
	  	<div ng-controller="MainCtrl">
            <div class="container" class="ng-cloak">
                <div class="row loading bg-danger"
                    ng-if="vm.isLoading">
                    <h2 class="col-md-12 warning">{{vm.loadingText}}</h2>
                </div>
                <form id="search-form"
                    ng-if="!vm.isLoading">
                    <div class="form-group">
                        <label class="search-text"
                            for="searchText">Search</label>
                        <input type="text" 
                            ng-model="vm.searchText"
                            class="form-control" 
                            id="searchText" 
                            placeholder="enter your search term">
                    </div>
                </form>
                <div class="row"
                    id="search-results">
                    <div class="col-sm-6 col-md-4 col-lg-3" 
                        ng-repeat="person in vm.people | filter:vm.searchText">
                        <div class="masonry-layout">
                            <div class="masonry-layout-pnl masonry-layout-flp--md masonry-layout-flp">
                                <div class="masonry-layout-pnl__cntnt masonry-layout-flp__cntnt">
                                    <div class="masonry-layout-flp__pnl masonry-layout-flp__pnl--frnt">
                                        <div class="responsive-image">
                                            <img class="pull-right" 
                                                ng-src="{{person.picture}}" 
                                                alt="Picture of {{person.firstName}}">
                                            <h3 class="sean"
                                                ng-show="person.firstName == 'Sean'">{{person.firstName}}</h3>
                                            <h3 class="firstName"
                                                ng-show="person.firstName != 'Sean'">{{person.firstName}}</h3>
                                        </div>
                                    </div>
                                    <div class="masonry-layout-flp__pnl masonry-layout-flp__pnl--bck">
                                        <div class="id-wrapper">
                                            <div class="id">{{person.id}}</div>
                                        </div>
                                        <pair>
                                            <dt>Title</dt>
                                            <dd class="value">{{person.Title}}</dd>
                                        </pair>
                                        <pair>
                                            <dt>Name</dt>
                                            <dd class="value">{{person.firstName}} {{person.lastName}}</dd>
                                        </pair>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app/main/main.controller.js"></script>
    <script src="app/main/main.service.js"></script>
    <script src="app/app.js"></script>
</body>
</html>