@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

.wrapper {
    padding: 2em;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

@mixin name ($color: DodgerBlue, $size: 1.5em) {
  color: $color;
  font-size: $size;
}

.firstName {
    @include name();
}

.sean {
    @include name(SeaGreen, 2em);
}
.container {
    .loading {
        display: flex;
        align-items: center;
        justify-content: center;
        background: tomato;
        margin-top: 20%;
        border-radius: 10px;
        border: solid 1.3em darkslategray;
        .warning {
            max-width: 70%;
            padding: 25px;
        }
    }
}

#search-form {
    .form-group {
        padding: 20px 20px;
    }
    
    .search-text {
        margin-bottom: 10px;
        font-size: 2em;
    }
}

#search-results {
    .id-wrapper {
        float: right !important;
        .id {
            border-radius: 50%;
            width: 26px;
            height: 26px;
            padding: 3px;
            background: dodgerblue;
            color: whitesmoke;
            text-align: center;
        }
    }
    pair {
        padding-left: 30%;
        .value {
            padding-left: 1.3em;
            font-size: 2em;
        }
    }
}

/* masonry layout based on the work by jhey tompkins */
.masonry-layout {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-column-count: 1;
     -moz-column-count: 1;
          column-count: 1;
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
  position: relative;
}

.masonry-layout-pnl {
  margin: 0;
  padding: 15px;
}

.masonry-layout-flp--md {
  height: 250px;
}

.masonry-layout-flp {
  -webkit-perspective: 1000;
          perspective: 1000;
}

.masonry-layout-pnl__cntnt {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.masonry-layout-flp:hover .masonry-layout-flp__cntnt {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.masonry-layout-flp__cntnt {
  height: 100%;
  overflow: visible;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.masonry-layout-flp__pnl {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 5px;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
.masonry-layout-flp__pnl--frnt {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  z-index: 2;
}
.masonry-layout-flp__pnl--bck {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
